[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
